@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap');


$color-grey: #8E9EB3;
$color-grey-light: #E7E8E8;
$color-grey-darker: #3C495A;
$color-green: #38D581;
$color-blue: #2AA7FF;
$color-white: #FFF;
$font-primary: 'Roboto', sans-serif;

